{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center; color: maroon;">Add Branch</h1>   
             <div class="row my-5">
                <div class="col-sm-10 mx-auto">
                  <form action="{%url 'adminapp:branch'%}" method="post" class="my-4 rounded-4 bg-light text-dark shadow-lg p-5">
                    {% csrf_token %}
                    Enter Branch Name :
                    <input type="text" name="bname" class="ps-3 bg-light text-dark form-control rounded-pill">
                    <br><br>
                    
                    
                    <input type="submit" value="Add Branch" class="form-control btn btn-primary rounded-pill">
                  </form>
                </div>
             </div>
             <div class="row my-5">
              <div class="col-sm-10 mx-auto table-responsive">
                <table class="table table-light bg-light">
                  <tr>
                    <th>Branch ID</th>
                    <th>Branch</th>
                    
                    <th colspan="2">Action</th>
                  </tr>
                  {% for n in branch %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{n.bname}}</td>
                    
                    <td><a href="{%url 'adminapp:editbranch' n.bid%}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a></td>
                    <td><a href="{%url 'adminapp:delbranch' n.bid%}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
             </div>
        </div>
    </div>
{% endblock body %}