{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center; color: maroon;">Edit Year</h1>   
             <div class="row my-5">
                <div class="col-sm-10 mx-auto">
                  <form action="{%url 'adminapp:edityear' year.yid%}" method="post" class="my-4 rounded-4 bg-light text-dark shadow-lg p-5">
                    {% csrf_token %}
                    Enter Program Name :
                    <input type="text" value="{{year.yname}}" name="yname" class="ps-3 bg-light text-dark form-control rounded-pill">
                    <br><br>
                    
                    <br><br>
                    <input type="submit" value="Update Year" class="form-control btn btn-primary rounded-pill">
                  </form>
                </div>
             </div>
             
        </div>
    </div>
{% endblock body %}